.search__form {
  input {
    color: white;
    font-size: 1rem;
    text-indent: 5px;
    min-width: 20vw;
  }

  label {
    color: #cfd8dc !important;
  }
  .PrivateNotchedOutline-root-61 {
    border: 1px solid white !important;
  }
}
